# Arith.py test results

Notes:

* Renamed files from camelcase to snake case; [PEP8 Naming conventions](https://www.python.org/dev/peps/pep-0008/#id40)
* Modified the class methods in `arith.py` with the `staticmethod` decorator, since we do not use `self`

## Unittest:
```
PS D:\code\python\csc440-project\A Stage\Last-First-A-Stage\Python Programs\Arith> python -m unittest arith_test.ArithTest
..
----------------------------------------------------------------------
Ran 2 tests in 0.000s

OK
```

## Doctest:
Empty:
```
PS D:\code\python\csc440-project\A Stage\Last-First-A-Stage\Python Programs\Arith> python -m doctest .\arith.py
PS D:\code\python\csc440-project\A Stage\Last-First-A-Stage\Python Programs\Arith> 
```
